@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
	--darker-color: #161618;
	--lighter-color: #202123;
	--highlight: #646cff;
	--color-primary: #cdd9e5;
	--border-color: #2d3139;
	--border-color-hover: #727b8c;
	--button-color: #2a272d;
	--text-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	filter: brightness(0.85);
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--lighter-color);
	color: var(--text-color);
	font-family: 'Inter', sans-serif;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: auto;
	padding: 2% 0;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: var(--darker-color);
}

footer a {
	color: var(--highlight);
}

header,
nav {
	background-color: var(--lighter-color);
	border-bottom: 2px solid var(--darker-color);
}

header {
	padding: 15px;
	display: flex;
	align-items: center;
}

header img {
	height: 25px;
	cursor: pointer;
}

nav {
	font-size: 13px;
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	padding: 9px 0;
	padding-left: 22px;
}

nav #nav-button img {
	height: 20px;
	margin-right: 5px;
	margin-top: 5px;
}

button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 8px;
	color: inherit;
	font-family: inherit;

	display: flex;
	align-items: center;
	padding-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}

#nav-button:hover {
	filter: brightness(0.6);
}

#nav-button:active {
	filter: brightness(0.4);
}

.hidden {
	display: none;
}

aside {
	position: fixed;
	z-index: 99999;
	background-color: var(--darker-color);

	padding: 45px 25px;
	height: 100%;
	margin-right: 50%;
}

aside h4 {
	margin-bottom: 25px;
}

aside button {
	filter: brightness(0.8);
	margin-bottom: 8px;
	text-align: left;
}

aside button:hover {
	filter: brightness(1);
	color: var(--highlight);
}

main {
	font-family: inherit;
	padding: 25px 0;
	margin: 0 auto;
	width: 100%;
}

main,
header {
	padding-left: 25px;
	padding-right: 25px;
}

main h1 {
	margin-bottom: 18px;
}

main hr {
	margin: 30px 0;
	filter: brightness(0.25);
}

main h2 {
	margin-top: 25px;
	margin-bottom: 18px;
}

main p {
	margin: 8px 0;
}

main p.subcontent {
	margin-left: 20px;
}

main h3 {
	font-weight: normal;
}

/* FREQ-DIST-UNGROUPED / SKEWNESS / SIMPLE-CORRELATION */
#frq-dist-u-form,
#skewness-form,
#simple-corre-form,
#spearman-rank-form {
	display: grid;

	gap: 8px;
	margin: 30px 0;
	align-items: center;
}

#frq-dist-u-form label:first-child input,
#skewness-form label:first-child input,
#simple-corre-form label:nth-child(2) input,
#simple-corre-form label:nth-child(4) input,
#spearman-rank-form label:nth-child(2) input,
#spearman-rank-form label:nth-child(4) input {
	width: 100%;
}

#frq-dist-u-form label:nth-child(2) input {
	width: 70px;
	text-align: center;
	margin-left: 5px;
}

#frq-dist-u-form label:nth-child(3),
#frq-dist-u-form label:nth-child(4) {
	width: 100px;
}

#frq-dist-u-form input,
#skewness-form input,
#simple-corre-form input,
#spearman-rank-form input {
	padding: 8px 4px;
	border-radius: 2px;
	border: 1px solid var(--border-color);
	color: white;
	background-color: transparent;
	margin: 10px 0 0 0;
}

#frq-dist-u-form input:hover,
#skewness-form input:hover,
#simple-corre-form input:hover,
#spearman-rank-form input:hover {
	border-color: var(--border-color-hover);
}

#frq-dist-u-form input:focus,
#skewness-form input:focus,
#simple-corre-form input:focus,
#spearman-rank-form input:focus {
	outline: 1px solid var(--highlight);
}

#frq-dist-u-form button,
#skewness-form button,
#simple-corre-form button,
#spearman-rank-form button {
	display: block;
	width: 220px;
	text-align: center;
	background-color: var(--highlight);
	border-color: var(--border-color);
	padding: 5.5px 10px 10px 10px;
	margin: 10px auto;
}

#frq-dist-u-form button:hover,
#skewness-form button:hover,
#simple-corre-form button:hover,
#spearman-rank-form button:hover {
	border-color: var(--border-color-hover);
}

#frq-dist-u-form button:active,
#skewness-form button:active,
#simple-corre-form button:active,
#spearman-rank-form button:active {
	filter: brightness(0.7);
}

#frq-dist-u-table,
#skewness-result-container,
#simple-corre-table,
#spearman-rank-table {
	overflow: auto;
	margin: 0 auto;
	margin-bottom: 35px;
}

#frq-dist-u-table table,
#simple-corre-table table,
#spearman-rank-table table {
	margin: 0 auto;
	border-spacing: 0;
	border: 1px solid var(--border-color);
}

th,
td {
	text-align: center;
	padding: 8px;
	border: 1px solid var(--border-color);
}
/* FREQ-DIST-UNGROUPED / SKEWNESS */

code {
	font-size: 15px;
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media only screen and (min-width: 960px) {
	body {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
	}

	header {
		grid-column: span 2;
		background-color: var(--darker-color);
	}

	nav {
		display: none;
	}

	aside.hidden {
		display: block;
	}

	aside {
		position: relative;
		margin: 0;
		margin-right: 60px;
	}

	aside {
		padding: 25px 25px;
	}
}

@media only screen and (min-width: 1000px) {
	aside,
	header {
		padding-left: 100px;
	}

	main {
		padding-right: 100px;
		max-width: 1000px;
		margin-left: auto;
	}
}

@media only screen and (min-width: 1400px) {
	aside,
	header {
		padding-left: 200px;
	}

	main {
		padding-right: 200px;
		max-width: 1200px;
		margin-left: auto;
	}
}
